<h1><%= @page.title %></h1>

<p> 
	<em><%= time_ago_in_words @page.created_at %> </em>
</p>


<!-- 
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<%= link_to 'Edit', edit_admin_page_path(@page) %> |
<%= link_to 'Back', admin_pages_path %> -->
