<h1>Category: <%= @category.name %></h1>

<% @category.pages.each do |page| %>
	<h2> <%= link_to page.title, url_for_page(page) %> </h2>
	<p> <%=page.created_at.to_formatted_s :long %> </p>
	<%= page.body.html_safe %>
	<hr>
<% end %>
